@media only screen and (min-width: 768px) {
    /* For MD desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}


    .header-top{
     display: flex;
   }
   .top-menu ul {

    display: flex;
    margin: 0 0 10px 0 ;
   }
   .top-menu ul li {

    background: none;
    margin: 20px  0 0  5px;
    padding:5px;
   
   }
 .top-menu ul li:hover{

      background: none;

   }
   .top-menu ul li:hover a{

    color: white;
    transition: .5s;

   }
     /* ========>>  Top Menu End Here <<< ========= */ 
    
     
    .background-text{

      float: left;
      margin-top: 70px;

    }
    .background-text h1{

      font-size: 3rem;
      text-align: left;
      padding: 10px 0 0 20px;

    }
    .background-text h1 span{

     
      text-align: left;
  

  }
  .background-img {

      float: right;
    
    }
        /* <!-- /* ========>> Header area  End Here <<< ========= */


        .about-area{
          display: flex;
        }
  
        .about-desc {
          width: 80%;
          margin: 10px 10px auto;
      }
      .about-desc h2{
        font-size: 3.5rem;
        padding: 10px;
        text-align: center;
    }
    .hr2 hr{
      width: 70%;
  
      
  }


  .product-image{

    text-align: center;
    margin: 10px auto;
    width: 90%;
  }
  .img-1{
      text-align: center;
      margin: 0 5px  auto;
      display: inline-block;
     
    
      
  }
  .p-s-1{
    display: flex;
  }
  .p-s-2{
    display: flex;
  }
    .product-title h2{
      
      font-size: 3.5rem;
    
    }


    /* gallery section  */

    .gallery-img {

     display: flex;
  }
    .gallery-img img{
      width:24%;
      margin: 0px 10px auto;
      text-align: center;

    }

         /* form sectiom section starts here  */

         .form-section{
           display: flex;
         }
         .contact{
          display: flex;
         }
         .contact ul li {

        text-align: center;
         }
         .contact h2 {

          text-align: center;
           }
           .Overview .icon{
           text-align: center;
        }
      

        /* contact aqrea end here  */
        

}